EXPO_PUBLIC_API_URL=http://127.0.0.1:8000
EXPO_PUBLIC_APP_VERSION=0.1.0
EXPO_PUBLIC_BUILD_NUMBER=1
EXPO_PUBLIC_EAS_PROJECT_ID=
EXPO_PUBLIC_ENVIRONMENT=local
EXPO_PUBLIC_RELEASE=zani-mobile@0.1.0
EXPO_PUBLIC_SENTRY_DSN=
EXPO_PUBLIC_SENTRY_TRACES_SAMPLE_RATE=0.05
